body {
    background-color: #008080;
}

.ownMsg {
  background-color: #02c0fd;
  color:white;
  border-radius: 13px;
  padding: 8px;
  text-align: center;
  float: right;
  clear: both;
  margin: 5px;
}
.strngrMsg {
  background-color: #51c00c;
  color:white;
  border-radius: 13px;
  padding: 8px;
  text-align: center;
  float: left;
  clear: both;
  margin: 5px;
}
.bootstrapDiv{
  background-color: #ffffff;
}
#unSp{
  color: #6600cc;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
#connectionMsg{
  background-color: #921d3f;
  color:white;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
}
#typing{

}
#stressedSp{
  color:black;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}
#leaverMsg {
clear:both;
text-align: center;
color: #ad3210;
}
a {
    color: #00B7FF;
}
.disclaimer-box {
    background-color: #818181;
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
}
.queueLogo {
    text-align: center;
}
.loading {
    font-size: 30px;
}
.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 1500ms infinite;
    animation: ellipsis steps(4, end) 1500ms infinite;
    content: "\2026";
    /* ascii code for the ellipsis character */
    width: 0px;
}
@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
.messagesContainer {
    border-style: solid;
    border-width: 1px;
    border-color: green;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #dce2ff;
    width: 100%;
    height: 750px;
    word-wrap: break-word;
    overflow: auto;
    padding: 10px;
    color: #2f3f76;
}
.formInput {
    width: 100%;
    margin-top: 10px;
}
